.input {
  $p: &;

  position: relative;
  width: 100%;

  &__inner {
    height: 64px;
    border-radius: 6px;
    background: #fff;
    padding: 10px 17px 10px 16px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: text;
    display: flex;
    align-items: baseline;
    @include mobile {
      height: 56px;
    }

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      transition: 0.25s ease-in-out;
      transform: scaleX(0);
    }
  }

  &__field {
    background: #fff;
    height: auto;
    width: 100%;
    border: none;
    font-size: 17px;
    font-weight: 600;
    padding-top: 20px;
    box-sizing: content-box;
    color: $base;

    @include placeholder {
      color: $base;
    }

    @include mobile {
      padding-top: 15px;
    }

    &:focus {
      & ~ #{$p}__label {
        font-size: 12px;
        line-height: 15px;
        color: #767873;
        top: 14px;
        @include mobile {
          top: 10px;
        }
      }
    }

    &:disabled {
      opacity: 0.4;
      cursor: text;

      & ~ #{$p}__label {
        opacity: 0.4;

        &::after {
          display: none;
        }
      }
    }
  }

  &__label {
    position: absolute;
    left: 17px;
    top: 24px;
    font-size: 15px;
    line-height: 19px;
    color: $base;
    transition: 0.15s ease-in-out;
    pointer-events: none;
    white-space: nowrap;

    @include mobile {
      top: 20px;
    }
  }

  &__error {
    position: absolute;
    text-align: left;
    top: 100%;
    background: $white;
    font-size: 14px;
    box-shadow: 0 0 12px 0 rgba($black, 0.15);
    border-radius: 0 0 5px 5px;
    width: 100%;
    left: 0;
    color: $base;

    @include mobile {
      top: calc(100% + 6px);
      border-radius: 5px;
      text-align: center;
    }

    &:not(:empty) {
      padding: 12px 16px;
    }

    &::after {
      @include mobile {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: solid transparent;
        border-width: 0 7px 6px;
        border-bottom-color: $white;
        position: absolute;
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__prompt {
    display: none;
  }

  &__postfix {
    font-size: 17px;
    font-weight: 600;

    ::v-deepsup,
    ::v-deepsub {
      font-size: smaller;
    }
  }

  //.hint {
  //  display: inline-flex;
  //  align-items: center;
  //  justify-content: center;
  //  width: 16px;
  //  height: 16px;
  //  background: rgba($green2, 0.1);
  //  border-radius: 50%;
  //  margin-left: 10px;
  //  position: absolute;
  //  top: 30px;
  //
  //  &:hover {
  //    cursor: pointer;
  //  }
  //
  //  svg {
  //    fill: $green2;
  //  }
  //}

  &_state_active {
    #{$p}__label {
      font-size: 12px;
      line-height: 15px;
      color: #767873;
      top: 14px;
      @include mobile {
        top: 10px;
      }
    }
  }

  &_state_focused {
    #{$p}__inner {
      &::after {
        background-color: $green;
        transform: scale(1);
      }
    }
  }

  &_state_has-error {
    #{$p}__inner {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      @include mobile() {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }

  &_valid_true {
    #{$p}__inner {
      &::after {
        transform: scale(1);
      }
    }
  }

  &_valid_false {
    #{$p}__inner::after {
      background-color: $red;
      transform: scale(1);
    }
  }

  &_size_small {
    #{$p}__inner {
      height: 56px;
    }

    #{$p}__label {
      top: 21px;
    }

    #{$p}__field {
      padding-top: 16px;

      &:focus ~ #{$p}__label {
        top: 8px;
      }
    }

    &#{$p}_state_active {
      #{$p}__label {
        top: 8px;
      }
    }
  }

  &_theme_outlined {
    background: transparent;

    #{$p}__inner {
      border: 1px solid #e5e7e8;
    }

    #{$p}__error {
      border: 1px solid #e5e7e8;
      border-top: 0;
    }

    &#{$p}_state_has-error #{$p}__inner,
    &#{$p}_state_focused #{$p}__inner {
      border-bottom: 0;
    }
  }

  &_theme_registration {
    border-radius: 0;
    background-color: transparent;

    #{$p}__inner {
      height: 61px;
      border-radius: 0;
      padding: 0;
      background-color: transparent;

      @include mobile {
        height: 55px;
      }

      &::after {
        transform: scale(1);
        background-color: $borderGreen2;
      }
    }

    #{$p}__label {
      font-size: 20px;
      line-height: 18px;
      top: 27px;
      left: 0;
      color: $base;
      display: flex;
      margin: 0;

      @include mobile {
        font-size: 16px;
        top: 23px;
      }
    }

    #{$p}__field {
      font-size: 20px;
      line-height: 18px;
      font-weight: 400;
      background: transparent;
      padding-bottom: 14px;
      padding-top: 27px;
      height: 18px;
      @include mobile {
        font-size: 16px;
        line-height: 18px;
        padding-top: 23px;
        padding-bottom: 12px;
      }

      &:focus ~ #{$p}__label {
        font-size: 16px;
        top: 0;
        color: $labelColorActive;

        @include mobile {
          font-size: 14px;
        }
      }
    }

    #{$p}__error {
      background-color: transparent;
      box-shadow: none;
      font-size: 14px;
      line-height: 17px;
      margin: 7px 0 6px;
      color: $base;
      padding: 0;
      position: static;
    }

    #{$p}__prompt {
      font-size: 14px;
      line-height: 17px;
      margin: 7px 0 6px;
      color: $light-grey-text;
      display: block;
    }

    #{$p}__postfix {
      font-size: 20px;
      font-weight: normal;
    }

    %label-active {
      font-size: 16px;
      top: 0;
      color: $labelColorActive;

      @include mobile {
        font-size: 14px;
      }
    }

    &#{$p}_state_focused {
      #{$p}__inner {
        &::after {
          background-color: $base;
        }
      }
      #{$p}__label {
        @extend %label-active;
      }
    }

    &#{$p}_state_active {
      #{$p}__label {
        @extend %label-active;
      }
    }

    &#{$p}_valid_false {
      #{$p}__inner:after {
        background-color: $red;
      }
    }

    &#{$p}_size_small {
      #{$p}__inner {
        height: 56px;
      }

      #{$p}__field {
        padding-bottom: 9px;
      }
    }
  }
}
