.btn {
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  transition: .15s ease-in-out;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include mobile {
    width: 100%;
  }
  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
  $themes: (
      (primary, $btnPrimary, $white, $btnPrimaryHover, $btnPrimary),
      (secondary, $btnSecondary, $white, $btnSecondaryHover, $btnSecondary),
      (ghost, $bthGhost, $green, $btnGhostHover, #DDE3D5),
      (registration, $bthGhost, $black, $btnGhostHover, $green3-o3),
  );
  @each $name, $bg, $color, $hover, $borderColor in $themes {
    &.#{$name} {
      background: $bg;
      color: $color;
      border-color: $borderColor;
      &:hover {
        background: $hover;
        border-color: $hover;
      }
    }
  }
  &.md {
    height: 64px;
    padding: 0 46px;
    font-size: 18px;
    font-family: $secondaryFont;
    line-height: 20px;
    font-weight: bold;
    @include mobile {
      height: 56px;
    }
  }
  &.sm {
    @extend .md;
    height: 56px;
  }
  &.xs {
    @extend .md;
    height: 48px;
  }
  &.xxs {
    @extend .md;
    height: 35px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 400;
  }
  span {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    &.loading {
      opacity: 0;
    }
    svg {
      margin-left: 15px;
    }
  }
  &.block {
    width: 100%;
    display: block;
  }
  &.registration {
    font-weight: normal;
    font-style: normal;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 0 25px;
    @include mobile {
      border-width: 2px;
      height: 70px;
    }
  }
}
