@font-face {
  font-family: 'ALS Schlange';
  src: url('../fonts/ALSSchlangesans-Regular.woff2') format('woff2'),
    url('../fonts/ALSSchlangesans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALS Schlange';
  src: url('../fonts/ALSSchlangesans-Bold.woff2') format('woff2'),
    url('../fonts/ALSSchlangesans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALS Schlange';
  src: url('../fonts/ALSSchlangesans-Light.woff2') format('woff2'),
    url('../fonts/ALSSchlangesans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALS Schlange';
  src: url('../fonts/ALSSchlangesans-Thin.woff2') format('woff2'),
    url('../fonts/ALSSchlangesans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange';
  src: url('../fonts/ALSSchlangesans-Black.woff2') format('woff2'),
    url('../fonts/ALSSchlangesans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
